.footer {
    background-color: #222;
    color: white;
    padding: 40px 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-logo img {
    width: 120px;
    height: auto;
  }
  
  .social-media a {
    margin: 0 15px;
    display: inline-block;
  }
  
  .social-media img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
  }
  
  .social-media img:hover {
    transform: scale(1.2);
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin: 10px 15px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #f2a900;
  }
  
  .footer-bottom {
    margin-top: 30px;
  }
  
  .footer-text {
    font-size: 12px;
    margin-top: 20px;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-logo img {
      width: 100px;
    }
  
    .footer-links ul {
      text-align: center;
    }
  
    .social-media {
      margin-top: 20px;
    }
  }
  